body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('https://cdn.dribbble.com/users/293796/screenshots/10479688/media/49397751fc3553af75e26e71011a1bd7.gif');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
